body{
  margin: 0;
  padding: 0;
  background-color: #e9ebed;
  font-family: 'Lucida Grande', tahoma, Segoe UI, San Francisco, Roboto;
}

#barra{
  height: 43px;
  background-color: #5066ae;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
}

#contingut{
  height: 2000px;
  width: 852px;
  margin: 0 auto;
}

#contingut #cap{
  height: 358px;
  background-color: white;
  height: 358px;
  background-color: red;
  background-image: url(img/backg.png);
  box-shadow: 0px 0px 1px grey;
  margin-bottom: 12px;
  border:solid 1px #DDD;
  border-radius: 3px;
}


#fotoperfil{
  height: 169px;
  width: 169px;
  position: absolute;
  background-image: url(img/photo.png);
  top: 225px;
  margin-left: 50px;
}

#vacio{
  height: 43px;
  background-color: white;
  width: 850px;
  margin-top: 358px;
  position:relative;
}

#contingut #menu{
  float: right;
  position: relative;
  top: -201px;
  height: 43px;
  padding: 0;
  margin: 0;
  height: 43px;
  width: auto;
}

#contingut #cap h2{
  position: relative;
  top: 50px;
  left: -25px;
  color: white;
  font-family: sans-serif;
  font-size: 20px;
}

#menu li{
  float: left;
  list-style-type: none;
  background-color: white;
  display: block;
  height: 43px;
  padding: 0px 15px;
  margin-top: 102px;
  text-align: center;
  vertical-align: middle;
  line-height: 43px;
  box-shadow: 1px 0 1px #CCC;
}

#principal{
  height: 1604px;
  margin-top: 43px;
}

#seccions{
  width: 322px;
  float: left;
  overflow: hidden;
  list-style: none;
  margin-top: -30px;
}

.esquerra {
  background-color: white;
  border-radius: 3px;
  border: solid 1px #DDD;
  height: auto;
  width: 322px;
  margin-bottom: 30px;
  float: left;
  clear: left;
  padding: 5px;
}

.esquerra ul{
  list-style: none;
}

.dreta{
  width: 515px;
  margin-bottom: 50px;
  background-color: white;
  border-radius: 3px;
  border: solid 1px #DDD;
  float: right;
  height: 180px;
  margin-top: -30px;
}

#seccions h3{
  background-image: url(img/lateral.png);
  background-repeat: no-repeat;
  text-indent: 33px;
  height: 24px;
}

#presentacio p{
  border-bottom: solid 1px;
  box-shadow: 0 1px 0 #DDD;
  padding: 10px;
}

#presentacio h3{
  background-position: 0 0;
}

#amistats h3{
  background-position: 0 -48px;
}

#fotos h3{
  background-position: 0 -24px;
}

#presentacio .estudis{
  list-style-image: url(iconetes/icones_estudis.png);
}

#presentacio .casa{
  list-style-image: url(iconetes/icones_domicili.png);
}

#presentacio .ciudad{
  list-style-image: url(iconetes/icones_ubicacio.png);
}

#presentacio .estado{
  list-style-image: url(iconetes/icones_sentimental.png);
}
