/*Versió Escriptoti*/

@media only screen and (min-width: 960px){

body{
  margin: 0;
  padding: 0;
  background-color: #e9ebed;
  font-family: 'Lucida Grande', tahoma, Segoe UI, San Francisco, Roboto;
}

#barra{
  height: 43px;
  background-color: #5066ae;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;*
}

#contingut{
  height: 2000px;
  width: 852px;
  margin: 0 auto;
}

#contingut #cap{
  height: 358px;
  background-color: white;
  height: 358px;
  background-color: red;
  background-image: url(img/backg.png);
  box-shadow: 0px 0px 1px grey;
  margin-bottom: 12px;
  border:solid 1px #DDD;
  border-radius: 3px;
}


#fotoperfil{
  height: 169px;
  width: 169px;
  position: absolute;
  top: -25px;
  margin-left: -200px;
}

#vacio{
  height: 43px;
  background-color: white;
  width: 850px;
  margin-top: 358px;
  position:relative;
}

#contingut #menu{
  float: right;
  position: relative;
  top: -201px;
  height: 43px;
  padding: 0;
  margin: 0;
  height: 43px;
  width: auto;
}

#contingut #cap h2{
  position: relative;
  top: 50px;
  left: -25px;
  color: white;
  font-family: sans-serif;
  font-size: 20px;
}

#menu li{
  float: left;
  list-style-type: none;
  background-color: white;
  display: block;
  height: 43px;
  padding: 0px 15px;
  margin-top: 102px;
  text-align: center;
  vertical-align: middle;
  line-height: 43px;
  box-shadow: 0 0 1px #CCC;
}

#menu li:hover{
  background-color: #f5f5f7;
}

#principal{
  height: 1604px;
  margin-top: 43px;
}

#seccions{
  width: 322px;
  float: left;
  overflow: hidden;
  list-style: none;
  margin-top: -30px;
}

.esquerra {
  background-color: white;
  border-radius: 3px;
  border: solid 1px #DDD;
  height: auto;
  width: 322px;
  margin-bottom: 30px;
  float: left;
  clear: left;
  padding: 5px;
}

.esquerra ul{
  list-style: none;
}

.dreta{
  width: 515px;
  margin-bottom: 50px;
  background-color: white;
  border-radius: 3px;
  border: solid 1px #DDD;
  float: right;
  height: 180px;
  margin-top: -30px;
}

#seccions h3{
  background-image: url(img/lateral.png);
  background-repeat: no-repeat;
  text-indent: 33px;
  height: 24px;
}

#presentacio p{
  border-bottom: solid 1px;
  box-shadow: 0 1px 0 #DDD;
  padding: 10px;
}

#presentacio h3{
  background-position: 0 0;
}

#amistats li{
  width: 96px;
  height: 96px;
  background-color: yellow;
  margin: 2px;
  float: left;
  padding: 0;
  position: relative;
  color: white;
}

#MM{
  background-image: url(https://mmunozp2019crn.github.io/M08/s2m8uf104_munoz/img/logo.jpg);
  background-size: cover;
}

#AC{
  background-image: url(https://acarranco2019crn.github.io/m08/s2m8uf0104carranco/img/profile.jpg);
  background-size: cover;
}

#SP{
  background-image: url(https://sperez2019crn.github.io/M08/s2m8uf104_sperez/img/fotoperfil.jpg);
  background-size: cover;
}

#NC{
  background-image: url(https://nchia2019crn.github.io/M08/s2m8uf104_chia/img/perfil.jpg);
  background-size: cover;
}

#OP{
  background-image: url(https://oparicio2019crn.github.io/M08/UF1/s2m8uf104_oparicio/img/perfil.png);
  background-size: cover;
}

#YR{
  background-image: url(https://yromero2019crn.github.io/M08/UF1/s2m8uf104_facebook/img/perfil1.jpg);
  background-size: cover;
}

#AG{
  background-image: url(https://agarcia2019crn.github.io/M08/s2m8uf104_garciaa/img/perfil.jpg);
  background-size: cover;
}

#GB{
  background-image: url(https://gbonsoms2019crn.github.io/M08/s2m8uf104_facebook/img/pajaro.jpg);
  background-size: cover;
}

#VH{
  background-image: url(https://vherrero2019crn.github.io/M08/s2m8uf104facebook/img/perfil.png);
  background-size: cover;
}

#SF{
  background-image: url(https://sfernandez2019crn.github.io/M08/s2m8uf104_fernandez/img/gos.png);
  background-size: cover;
}

#SG{
  background-image: url(https://sgarzon2019crn.github.io/M08/s2m8uf104_facebook/img/perfil.jpg);
  background-size: cover;
}

#NP{
  background-image: url(https://iprados2019crn.github.io/M08/s2m8uf104_iprados/img/fotoperfil.jpg);
  background-size: cover;
}

#fotos li{
  width: 96px;
  height: 96px;
  background-image: url(img/brick.jpg);
  background-size: cover;
  margin: 2px;
  float: left;
  color: white;
  position: relative;
}

#fotos ul{
  overflow: hidden;
  margin: 0;
  padding: 0;
}

#amistats ul{
  padding: 0;
  margin: 0;
  overflow: hidden;
}

#amistats li a:link{
  color: white;
  text-decoration: none;
  position: absolute;
  bottom: 0;
  font-size: 12px;
}

#amistats h3{
  background-position: 0 -48px;
}

#fotos h3{
  background-position: 0 -24px;
}

#surprise h3{
  background-position: 0 -72px;
}

#presentacio .estudis{
  list-style-image: url(iconetes/icones_estudis.png);
}

#presentacio .casa{
  list-style-image: url(iconetes/icones_domicili.png);
}

#presentacio .ciudad{
  list-style-image: url(iconetes/icones_ubicacio.png);
}

#presentacio .estado{
  list-style-image: url(iconetes/icones_sentimental.png);
}

#estat #crear {
  height: 50px;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

#crear{
  height: 38px;
  width: 516px;
  padding: 12px;
  margin: 0;
  overflow: hidden;
  position: relative;
  background-color: #f5f5f7;
  left: -12px;
}

#estat{
  overflow: hidden;
  width: 492px;
  padding: 0 12px;
  position: relative;
}

#crear li{
  list-style: none;
  float: left;
  padding: 0 10px;
  line-height: 40px;
  height: 50px;
  margin: 0 0 0 1px;
  font-size: 8pt;
  background-color: #f5f5f7;
  box-shadow: 0 0 3px #DDD;
  display: inline-block;
  text-indent: 10px;
}

#crear li:hover{
  opacity: 0.5;
}

#publica_acontencimiento{
  background-image: url(img/icones.png);
  background-repeat: no-repeat;
  background-position: 0 10px;
  color: blue;
}

#publica_foto{
  color: blue;
}

#publica_video{
  color: blue;
}

#pensament{
  display: block;
  clear: left;
  padding: 12px;
  position: relative;
  height: 50px;
  width: 400px;
  left: 50px;
  font-size: 1.1em;
  border: 0;
}

#mini_me{
  height: 40px;
  width: 40px;
  float: left;
  border-radius: 100%;
  margin-left: 12px;
  position: absolute;
  top: 20px;
  z-index: 100;
  float: left;
  clear: left;
  margin-top: 40px;
}

#botonera_estat{
  height: 38px;
  width: 516px;
}

#botonera_estat li{
  height: 38px;
  padding: 0;
  float: left;
  margin-right: 40px;
  margin-top: -5px;
  background-color: #f5f5f7;
  position: relative;
  list-style-type: none;
  border-radius: 20px;
  line-height: 38px;
  text-indent: 25px;
  margin-left: -25px;
}

#botonera_estat li:hover{
  opacity: 0.5;
}

#estat_fotovideo{
  background-image: url(img/pensa.png);
  background-repeat: no-repeat;
  background-position: 3px -60px;
  width: 120px;
}

#estat_etiquetar{
  background-image: url(img/pensa.png);
  background-repeat: no-repeat;
  background-position: 3px 7px;
  width: 118px;
}

#estat_sentimiento{
  background-image: url(img/pensa.png);
  background-repeat: no-repeat;
  background-position: 0px -26px;
  width: 120px;
}

#entrada1{
  margin-top: -1400px;
  height: 225px;
}

#comentari{
  height: 40px;
  width: 40px;
  margin-top: 15px;
  margin-left: 22px;
  position: relative;
}

.likes li{
  list-style-type: none;
  display: inline-block;
  margin-right: 50px;
  font-size: 12pt;
  text-indent: 28px;
  height: 25px;
  line-height: 25px;
}

#magrada{
  background-image: url(img/likes.png);
  background-repeat: no-repeat;
  background-position: 0px 0px;
}

#comenta{
  background-image: url(img/likes.png);
  background-repeat: no-repeat;
  background-position: 0px -105px;
}

#compartir{
  background-image: url(img/likes.png);
  background-repeat: no-repeat;
  background-position: 0px -53px;
}

#noms{
  color:blue;
  display: block;
  margin-left: 70px;
  margin-top: -40px;
}

#diamesany{
  font-size: 0.75em;
  margin-left: 70px;
  margin-top: -0.5px;
}

#entrada1 p{
  margin-left: 22px;
}

#entrada1 h6{
  margin-left: 22px;
  font-size: 9px;
}

#coment{
  display: block;
  position: relative;
  height: 35px;
  width: 400px;
  left: 15px;
  font-size: 1em;
  border-radius: 20px;
  border: 0;
  background-color: #f5f5f7;
  text-indent: 15px;
  margin-right: 20px;
}

#coment_foto{
  float:left;
  width: 33px;
  height: 33px;
  margin-left: 22px;
}

}

/* Versió Mobil*/

@media only screen and (max-width: 959px){

  body{
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: 'Lucida Grande', tahoma, Segoe UI, San Francisco, Roboto;
    overflow-x: hidden;
  }

  #barra{

  }

  #contingut{

  }

  #contingut #cap{
    background-image: url(img/backg.png);
    height: 254px;
    background-repeat: no-repeat;
    background-size: 100% auto;
    text-align: center;
    list-style-type: none;
  }

  #contingut #cap img{
    height: 162px;
    width: 162px;
    background-repeat: no-repeat;
    list-style-type: none;
    margin-top: 100px;
  }



  #fotoperfil{

  }

  #vacio{

  }

  #contingut #menu{

  }

  #contingut #cap h2{

  }

  #menu li{
    list-style-type: none;
  }

  #menu li:hover{

  }

  #principal{
    margin-top: 380px;
  }

  #seccions{

  }

  .esquerra {

  }

 .esquerra ul{

  }

  #ies li{
    margin: 0 auto;
    width: 60%;
  }

  .dreta{
    padding: 12px;
    width: 100%;
    float: none;
    clear: none;
    margin-bottom: 30px;
    box-shadow: 5px 5px 5px grey;
  }

  #seccions h3{
    background-image: url(img/lateral.png);
    background-repeat: no-repeat;
  }

  #presentacio p{

  }

  #presentacio h3{
    text-indent: 35px;
    margin-top: -120px;
  }

  #MM{
    background-image: url(https://mmunozp2019crn.github.io/M08/s2m8uf104_munoz/img/logo.jpg);
  }

  #AC{
    background-image: url(https://acarranco2019crn.github.io/m08/s2m8uf0104carranco/img/profile.jpg);
  }

  #SP{
    background-image: url(https://sperez2019crn.github.io/M08/s2m8uf104_sperez/img/fotoperfil.jpg);
  }

  #NC{
    background-image: url(https://nchia2019crn.github.io/M08/s2m8uf104_chia/img/perfil.jpg);
  }

  #OP{
    background-image: url(https://oparicio2019crn.github.io/M08/UF1/s2m8uf104_oparicio/img/perfil.png);
  }

  #YR{
    background-image: url(https://yromero2019crn.github.io/M08/UF1/s2m8uf104_facebook/img/perfil1.jpg);
  }

  #AG{
    background-image: url(https://agarcia2019crn.github.io/M08/s2m8uf104_garciaa/img/perfil.jpg);
  }

  #GB{
    background-image: url(https://gbonsoms2019crn.github.io/M08/s2m8uf104_facebook/img/pajaro.jpg);
  }

  #VH{
    background-image: url(https://vherrero2019crn.github.io/M08/s2m8uf104facebook/img/perfil.png);
  }

  #SF{
    background-image: url(https://sfernandez2019crn.github.io/M08/s2m8uf104_fernandez/img/gos.png);
  }

  #SG{
    background-image: url(https://sgarzon2019crn.github.io/M08/s2m8uf104_facebook/img/perfil.jpg);
  }

  #NP{
    background-image: url(https://iprados2019crn.github.io/M08/s2m8uf104_iprados/img/fotoperfil.jpg);
  }

  #fotos li{
    background-image: url(img/brick.jpg);
  }

  #fotos ul{
    display: none;
  }

  #amistats li{
    display: none;
  }

  #amistats #fotos{
    display: none;
  }

  #amistats ul{
    display: none;
  }

  #amistats li a:link{

  }

  #amistats h3{
    display: none;
  }

  #fotos h3{
    display: none;
  }

  #surprise h3{
    text-indent: 35px;
    background-position: 0 -73px;
  }

  #presentacio .estudis{
    list-style-image: url(iconetes/icones_estudis.png);
  }

  #presentacio .casa{
    list-style-image: url(iconetes/icones_domicili.png);
  }

  #presentacio .ciudad{
    list-style-image: url(iconetes/icones_ubicacio.png);
  }

  #presentacio .estado{
    list-style-image: url(iconetes/icones_sentimental.png);
  }

  #estat #crear {
    height: 50px;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
  }

  #crear{
    height: 38px;
    width: 516px;
    padding: 12px;
    margin: 0;
    overflow: hidden;
    position: relative;
    background-color: #f5f5f7;
    left: -12px;
  }

  #estat{
    overflow: hidden;
    width: 492px;
    padding: 0 12px;
    position: relative;
  }

  #crear li{
    list-style: none;
    float: left;
    padding: 0 10px;
    line-height: 40px;
    height: 50px;
    margin: 0 0 0 1px;
    font-size: 8pt;
    background-color: #f5f5f7;
    box-shadow: 0 0 3px #DDD;
    display: inline-block;
    text-indent: 10px;
  }

  #crear li:hover{
    opacity: 0.5;
  }

  #publica_acontencimiento{
    background-image: url(img/icones.png);
    background-repeat: no-repeat;
    background-position: 0 10px;
    color: blue;
  }

  #publica_foto{
    color: blue;
  }

  #publica_video{
    color: blue;
  }

  #pensament{
    display: block;
    clear: left;
    padding: 12px;
    position: relative;
    height: 50px;
    width: 400px;
    left: 50px;
    font-size: 1.1em;
    border: 0;
  }

  #mini_me{
    height: 40px;
    width: 40px;
    float: left;
    border-radius: 100%;
    margin-left: 12px;
    position: absolute;
    top: 20px;
    z-index: 100;
    float: left;
    clear: left;
    margin-top: 40px;
  }

  #botonera_estat{
    height: 38px;
    width: 516px;
  }

  #botonera_estat li{
    height: 38px;
    padding: 0;
    float: left;
    margin-right: 28px;
    margin-top: -5px;
    background-color: #f5f5f7;
    position: relative;
    list-style-type: none;
    border-radius: 20px;
    line-height: 38px;
    text-indent: 25px;
    margin-left: -25px;
  }

  #botonera_estat li:hover{
    opacity: 0.5;
  }

  #estat_fotovideo{
    background-image: url(img/pensa.png);
    background-repeat: no-repeat;
    background-position: 3px -60px;
    width: 120px;
  }

  #estat_etiquetar{
    background-image: url(img/pensa.png);
    background-repeat: no-repeat;
    background-position: 3px 7px;
    width: 118px;
  }

  #estat_sentimiento{
    background-image: url(img/pensa.png);
    background-repeat: no-repeat;
    background-position: 0px -26px;
    width: 120px;
  }

  #entrada1{
    width: 100%;
    margin-top: -1400px;
    height: 225px;
  }

  #comentari{
    height: 40px;
    width: 40px;
    margin-left: 22px;
    position: relative;
  }

  .likes li{
    list-style-type: none;
    display: inline-block;
    margin-right: 10px;
    font-size: 12pt;
    text-indent: 25px;
    height: 25px;
    line-height: 25px;
  }

  #magrada{
    background-image: url(img/likes.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
  }

  #comenta{
    background-image: url(img/likes.png);
    background-repeat: no-repeat;
    background-position: 0px -105px;
  }

  #compartir{
    background-image: url(img/likes.png);
    background-repeat: no-repeat;
    background-position: 0px -53px;
  }

  #noms{
    color:blue;
    display: block;
    margin-left: 70px;
    margin-top: 1350px;
  }

  #diamesany{
    font-size: 0.75em;
    margin-left: 70px;
    margin-top: -0.5px;
  }

  #entrada1 p{
    margin-left: 22px;
  }

  #entrada1 h6{
    margin-left: 22px;
    font-size: 9px;
  }

  #coment{
    display: block;
    position: relative;
    height: 35px;
    width: 250px;
    left: 15px;
    font-size: 1em;
    border-radius: 20px;
    border: 0;
    background-color: red;
    text-indent: 15px;
    margin-left: 50px;
  }

  #coment_foto{
    float:left;
    width: 33px;
    height: 33px;
  }


}
