@media only screen and (max-width: 645px){

  body{
    background-image: url("../img/fondo.png");
    background-size: cover;
    font-family: 'Nunito', sans-serif;
  }

  #register{
    height: 30px;
    width: 125px;
    background-color: #E63888;
    border-radius: 25px;
    text-align: center;
    line-height: 30px;
    margin-left: 60%;
    margin-top: 25px;
  }

  form{
    margin-top: 450px;
    margin-left: 20px;
  }

   .box{
    margin: 0 auto;
    width: 200px;
    height: 30px;
    border: 1px solid grey;
    margin-bottom: 20px;
    background-color: transparent;
    border-radius: 30px;
    background-color: white;
    text-indent: 20px;
    font-size: 20px;
    float: left;
    outline: none;
  }

  input{
    color: #222222;
  }

  #sessio{
    text-decoration: none;
    color: white;
    background-color: #E63888;
    height: 25px;
    width: 100px;
    text-align: center;
    line-height: 25px;
    margin-right: 50px;
    float: right;
    border-radius: 25px;
    margin-top: 30px;
  }

  a{
    text-decoration: none;
    color: white;
  }
h3{
  clear: both;
  font-size: 12px;
  margin-left: 25px;
  color: #5A9DD0;
}

}
