@media only screen and (min-width: 645px){


  body {
    font-size: 12px;
    line-height: 1.3;
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Nunito', sans-serif;
    background-color: #173D7A;
  }

  #atras{
    position: absolute;
    width: 20px;
    top: 15px;
    left: 20px;
    z-index: 1000000;
  }

  .chat {
    width: 100%;
    height: 100%;
    z-index: 2;
    box-shadow: 0 5px 30px rgba(0, 0, 0, .2);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .chat-title {
    position: relative;
    z-index: 2;
    background: rgba(0, 0, 0, 0.2);
    color: #fff;
    text-transform: uppercase;
    text-align: left;
    padding: 15px 10px 10px 50px;
    height: 35px;
  }

    h1, h2 {
      font-weight: normal;
      font-size: 15px;
      margin: 0;
      padding: 0;
      margin-left: 58px;
    }

    h2 {
      color: rgba(255, 255, 255, .5);
      font-size: 10px;
      letter-spacing: 1px;
    }

    .avatar {
      position: absolute;
      z-index: 1;
      top: 8px;
      left: 9px;
      border-radius: 30px;
      width: 40px;
      height: 40px;
      overflow: hidden;
      margin: 0;
      padding: 0;
      border: 2px solid rgba(255, 255, 255, 0.24);
      margin-left: 45px;
    }

    img {
        width: 100%;
        height: auto;
      }

        .message-input {
          background: #143666;
          border: none;
          outline: none;
          resize: none;
          font-size: 15px;
          height: 40px;
          padding-right: 20px;
          width: 100%;
          color: white;
          line-height: 37px;
          margin-top: 836px;
          text-indent: 10px;
        }

        .message-submit {
          position: relative;
          z-index: 1;
          right: 10px;
          margin-top: 904px;
          color: white;
          border: none;
          background: #FF2C9C;
          font-size: 13px;
          text-transform: uppercase;
          width: 70px;
          padding: 6px 10px;
          border-radius: 15px;
          outline: none!important;
          transition: background .2s ease;
        }

        .message-submit:hover {
            background: white;
            color: #FF2C9C;
          }






}









@media only screen and (max-width: 645px){


  html, #xatpage {
    height: 100%;
    font-family: 'Nunito', sans-serif;
    background-color: #173D7A;
    font-size: 12px;
    line-height: 1.3;
    overflow: hidden;
    margin: 0;
    padding: 0;
  }

  #atras{
    position: absolute;
    width: 20px;
    top: 7px;
    left: 15px;
    z-index: 1000000;
  }

  .chat {
    width: 100%;
    height: 100%;
    z-index: 2;
    overflow: scroll;
    box-shadow: 0 5px 30px rgba(0, 0, 0, .2);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .contacts{
    width: 100%;
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid grey;
  }

  .contacts:hover{
    opacity: 0.8;
    cursor: pointer;
  }

  .seccions{
    margin: 0;
    padding: 0;
    margin-left: 40px;
    color: black;
  }

  .chat-title {
    position: relative;
    z-index: 2;
    background: rgba(0, 0, 0, 0.2);
    color: #fff;
    text-transform: uppercase;
    text-align: left;
    padding: 0px 0px 2px 0px;
  }

    #xatpage h1{
      font-weight: normal;
      font-size: 13px;
      margin: 0;
      padding: 0;
      margin-top: 10px;
      margin-left: 100px;
    }

    #xatpage h2 {
      color: rgba(255, 255, 255, .5);
      font-size: 10px;
      letter-spacing: 1px;
      margin-top: 0px;
      margin-left: 100px;
    }

    .avatar {
      position: absolute;
      z-index: 1;
      left: 13px;
      border-radius: 30px;
      width: 40px;
      height: 40px;
      overflow: hidden;
      margin: 0;
      padding: 0;
      border: 2px solid rgba(255, 255, 255, 0.24);
      margin-left: 30px;
      margin-top: -45px;
    }

    .avatar img {
        width: 100%;
        height: auto;
      }

      :last-child {
        margin-bottom: 30px;
      }
    }
  }

    .message-box {
      background: rgba(0, 0, 0, 0.3);
      padding: 0;
      position: relative;
      margin: 0;
    }

    .message-input {
      background: #143666;
      border: none;
      outline: none!important;
      resize: none;
      font-size: 15px;
      height: 40px;
      padding-right: 20px;
      width: 94%;
      color: white;
      line-height: 37px;
      margin-bottom: -34px;
      text-indent: 10px;
    }

    .message-box textarea:focus:-webkit-placeholder{
        color: transparent;
    }

    .message-submit {
      position: absolute;
      z-index: 1;
      right: 10px;
      margin-top: -5px;
      color: white;
      border: none;
      background: #FF2C9C;
      font-size: 13px;
      text-transform: uppercase;
      width: 70px;
      padding: 6px 10px;
      border-radius: 15px;
      outline: none;
      transition: background .2s ease;
    }
      .message-submit:hover {
        background: white;
        color: #FF2C9C;
      }

  }




}
