@media only screen and (max-width: 645px){
  body{
    background-color: #173D7A;
    margin: 0;
    padding: 0;
    font-family: "Avenir Next", "Avenir", sans-serif;

  }

  #barra{
    height: 60px;
    width: 100%;
    background-color: #FF2C9C;
  }

  #foto{
    background-color: red;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: absolute;
    margin-top: 7px;
    margin-left: 7px;
  }

  h4{
    text-indent: 70px;
    font-size: 20px;
    color: white;
    margin-top: 25px;
    position: absolute;
  }


  .container {
    position: relative;
    margin: 12% auto;
    width: 100%;
    height: 450px;
  }

  .chatbox {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(dark, 0.5);
  }

  .menu {
    position: absolute;
    right: 10px;
    top: 20px;
    width: 10px;
    height: 20px;
    cursor: pointer;
    &:hover {
      transform: scale(1.1);
      transition: all .3s ease-in;
    }
  }

  .icons {
    position: absolute;
    color: $secondary;
    padding: 10px;
    top: 5px;
    right: 21px;
    cursor: pointer;
    .fas {
      padding: 5px;
      opacity: 0.8;
      &:hover {
        transform: scale(1.1);
        transition: all .3s ease-in;
      }
    }
  }


  .middle {
    position: absolute;
    background: $white;
    width: 100%;
    opacity: 0.85;
    top: 60px;
    height: 80%;
  }

  .incoming {
    position: absolute;
    width: 50%;
    height: 100%;
    padding: 20px;
    .bubble {
      background: lighten($dark, 23%);
    }
  }

  .typing {
    position: absolute;
    top: 67%;
    left: 20px;
    .bubble {
      background: lighten($dark, 45%);
      padding: 8px 13px 9px 13px;
    }
  }


  .ellipsis {
    width: 5px;
    height: 5px;
    display: inline-block;
    background: lighten($dark, 25%);
    border-radius: 50%;
    animation: bounce 1.3s linear infinite;
  }

  .one {
    animation-delay: 0.6s;
  }
  .two {
    animation-delay: 0.5s;
  }
  .three {
    animation-delay: 0.8s;
  }

  .bubble {
    position: relative;
    display: inline-block;
    margin-bottom: 5px;
    color: black;
    font-size: 0.9em;
    padding: 10px 10px 10px 12px;
    border-radius: 20px;
    background-color: #FF2C9C;
  }

  .lower {
    margin-top: 45px;
  }

  .outgoing {
    position: absolute;
    padding: 20px;
    right: 0;
    top: 15%;
    width: 50%;
    height: 100%;
    .bubble {
      background: white;
      float: right;
    }
  }


  .bottom-bar {
    position: absolute;
    width: 100%;
    bottom: 0;
    border-radius: 0 0 10px 10px;
  }

  .left {
    left: 0px;
  }

  input {
    padding: 7px;
    width: 85%;
    left: 5px;
    position: absolute;
    border: 0;
    margin-top: 20%;
    background: white;
    color: primary;
    border-radius: 10px;

  }

  input::placeholder {
    color: black;
  }

  input:focus {
    color: grey;
    outline: 0;
  }




}
